@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 10px;
    flex: 0 0 200px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

header nav{
    display: flex;
    flex-flow: row wrap;
}

header a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover{
    background-color: gray;
    transition: background-color .5s;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.505);
}