@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-width: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    /*
    ou
    text-transform: uppercase;
    obs: todas as letras maiusculas
    */
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.5em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.471);
    color: white;
}

section.imagem > P{
    background-color: rgba(0, 0, 0, 0.608);
    width: 400px;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}